#nav-top{
	width: 90%;
	padding: 10px;
}

#container{
	width:100%;
	display: flex;
	justify-content: center;
}

#layer{
	display: flex;
	width:70%;
	flex-wrap: wrap;
	justify-content: center;
}

#layer div{
	width:200px;
	border: 2px solid black;
	height: 400px;
	margin: 1%;
	text-align: center;
}